body.auth-background {
  background: #3e4b80;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  width: 300px;
}

.auth-container h2 {
  text-align: center;
  color:#243a94;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #243a94;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-container button {
  background: #30469e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.auth-container button:hover {
  background: #243a94;
}

.forgot-password {
  text-align: center;
  margin-top: 5px;
}

.forgot-password a {
  text-decoration: none;
  color: #243a94;
  font-size: 0.9rem;
}



