<div class="login-design h-100">
  <p-toast></p-toast>
  <div
    class="waves"
    style="
      background-image: url(&quot;./assets/layout/images/login-cevicheria.jpg&quot;);
    "
  ></div>
  <div class="login-data">
    <div
      class="img-mobil"
      style="
        visibility: hidden;
        width: 100%;
        height: 200px;
        background-image: url(&quot;./assets/layout/images/login-cevicheria.jpg&quot;);
      "
    ></div>
    <form (ngSubmit)="register()">
      <h1>Registrate!</h1>
      <p>Completa todos los campos requeridos</p>
      <div class="input-group" style="position: relative">
        <h3>Nombres Completos</h3>
        <input
          pInputText
          type="text"
          name="text"
          placeholder="Ingresa tus nombres"
          required
          [(ngModel)]="registerData.nombres"
        />
      </div>
      <div class="input-group" style="position: relative">
        <h3>Correo</h3>
        <input
          pInputText
          type="email"
          name="email"
          placeholder="Ingresa tu correo"
          required
          [(ngModel)]="registerData.email"
        />
      </div>
      <div class="input-group" style="position: relative">
        <h3>Teléfono</h3>
        <input
          pInputText
          type="tel"
          name="telefono"
          placeholder="Ingresa tu teléfono"
          required
          maxlength="9"
          pattern="\d{9}"
          [(ngModel)]="registerData.telefono"
          (input)="onTelefonoInput($event)"
        />
      </div>
      <div class="input-group" style="position: relative">
        <h3>Contraseña</h3>
        <input
          pInputText
          #refPassword
          [type]="viewPassword ? 'text' : 'password'"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
          [(ngModel)]="registerData.password"
        />
        <img
          *ngIf="viewPassword"
          src="./assets/layout/icons/eye.svg"
          (click)="viewPassword = !viewPassword"
          alt="Show Password"
          style="
            position: absolute;
            right: 12px;
            bottom: 14px;
            cursor: pointer;
            z-index: 3;
            width: 20px;
            height: 20px;
          "
        />
        <img
          *ngIf="!viewPassword"
          src="./assets/layout/icons/eye-slash.svg"
          (click)="viewPassword = !viewPassword"
          alt="Hide Password"
          style="
            position: absolute;
            right: 12px;
            bottom: 14px;
            cursor: pointer;
            z-index: 3;
            width: 20px;
            height: 20px;
          "
        />
      </div>

      <div class="ingresar">
        <button type="submit" class="btn-login mb-4">Registrar</button>
        <button routerLink="/login" class="btn-registrate mb-4">
          Regresar
        </button>
      </div>
    </form>
  </div>
</div>
