<ims-table
  #imsTable
  [configTable]="configTable"
  [tableData]="filteredInventario"
  [showTemplate]="true"
  class="pt-3"
>
  <div
    caption-content
    class="flex flex-wrap gap-4 align-items-center justify-content-between"
  >
    <ims-search
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterInventario()"
    ></ims-search>
    <div
      class="flex gap-2 w-full sm:w-auto justify-content-end flex-order-2 sm:flex-order-1"
    >
      <ng-container> </ng-container>
      <p-splitButton
        label="Exportar"
        [model]="items"
        styleClass="p-button-primary"
      ></p-splitButton>
      <button
        pButton
        class="p-button-outlined"
        icon="pi pi-plus"
        (click)="new()"
        label="Nuevo"
      ></button>
    </div>
  </div>

  <ng-template #tableTemplate let-value="value">
    <td>
      <span>{{ value.index }}</span>
    </td>
    <td>
      <span class="column-style" [pTooltip]="value.fechaSolicitud">{{
        value.fechaSolicitud | date: "dd/MM/yyyy"
      }}</span>
    </td>
    <td>
      <span class="column-style" [pTooltip]="value.representanteLegal">{{
        value.representanteLegal
      }}</span>
    </td>
    <td>
      <span class="column-style" [pTooltip]="value.dni">{{ value.dni }}</span>
    </td>
    <td>
      <span class="column-style" [pTooltip]="value.direccion">{{
        value.direccion
      }}</span>
    </td>
    <td>
      <p-badge
        [value]="value.estado"
        [style]="{
          backgroundColor: Constans.TYPE_ESTADO.toColor(value.estadoValue),
          color: '#fff',
        }"
        [pTooltip]="value.estado"
      ></p-badge>
    </td>
    <td>
      <div class="flex flex-wrap gap-2">
        <button
          pButton
          pRipple
          type="button"
          placeholder="Editar"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-info"
          (click)="edit(value)"
          [disabled]="value.estadoValue === 2"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          placeholder="Eliminar"
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
          (click)="delete(value)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          placeholder="Aprobar"
          icon="pi pi-check"
          class="p-button-rounded p-button-success"
          (click)="aprobar(value)"
          *ngIf="esAdmin"
        ></button>
      </div>
    </td>
  </ng-template>
</ims-table>

<app-edit-licencia></app-edit-licencia>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
